@use './theme';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}

// Button Customizations
.mat-raised-button {
  font-weight: 600 !important;
  text-transform: none !important;
  border-radius: 6px !important;
}

.mat-stroked-button {
  font-weight: 500 !important;
  text-transform: none !important;
  border-radius: 6px !important;
}

.mat-icon-button {
  border-radius: 50% !important;
  width: 36px !important;
  height: 36px !important;
  border: none;
  cursor: pointer;
}

// Scrollbar Customizations
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.mat-mdc-paginator {
  font-size: 14px !important;
}

.mat-mdc-paginator-range-label {
  margin: 0 16px 0 16px !important;
}